@model TestProject.Contracts.Entities.Catalog

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Catalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatalogName" class="control-label"></label>
                <input asp-for="CatalogName" class="form-control" />
                <span asp-validation-for="CatalogName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogDescription" class="control-label"></label>
                <input asp-for="CatalogDescription" class="form-control" />
                <span asp-validation-for="CatalogDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateUtc" class="control-label"></label>
                <input asp-for="CreatedDateUtc" class="form-control" />
                <span asp-validation-for="CreatedDateUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedDateUtc" class="control-label"></label>
                <input asp-for="LastModifiedDateUtc" class="form-control" />
                <span asp-validation-for="LastModifiedDateUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
